



body{
	background: linear-gradient(-90deg, #21fe2c, #5aff53);
	/*background-image: url("questionmark.png");
	background-repeat: repeat; 
	background-size: 100px 100px;*/
} 

h1,h2,p,input {
	font-family: 'Bangers', cursive;
	font-size: 30px;
	color: antiquewhite;
	text-shadow:
		 -1px -1px 0 #000,  
		  1px -1px 0 #000,
		  -1px 1px 0 #000,
		   1px 1px 0 #000;
	  }
}

p {
	font-size: 50px;
}

#top {
	font-size: 50px;
}

#code {
	font-size: 60px;
}

#birthday {
	font-size: 60px;
}
#image {
	width:100%;
	height:auto;
	border-radius: 5%;
}

#code {
	color: crimson;
}

.Button {
	width: 50%;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 26px;
	margin: 4px 2px;
	cursor: pointer;
  }

  















