



body{

	 background: linear-gradient(-90deg, #21fe2c, #5aff53);

	/*background-attachment: fixed;

	background-repeat: no-repeat;*/

}

#image {
	width:100%;
	height:auto;
}

.Button {
	width: 50%;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 26px;
	margin: 4px 2px;
	cursor: pointer;
  }
  















